<footer class="footer">
  <div class="footer__wrapper">
    <div class="footer__content">
      <div class="footer__entry entry">
        <img class="entry__catchcopy entry__catchcopy--pc" src="../assets/images/footer/catchcopy_pc.png"/>
        <img class="entry__catchcopy entry__catchcopy--sp" src="../assets/images/footer/catchcopy_sp.png"/>
        <button class="entry__button">ENTRY →</button>
      </div>
      <div class="footer__separator"></div>
      <div class="footer__info info">
        <div class="info__brand">
          <img class="info__logo info__logo--pc" src="../assets/images/common/logo_pc.png">
          <img class="info__logo info__logo--sp" src="../assets/images/common/logo_sp.png">
          <div class="info__sns">
              <a href="#" class="sns__link"><img class="sns__icon sns__icon--tiktok" src="../assets/images/footer/icon_tiktok.png"/></a>
              <a href="#" class="sns__link"><img class="sns__icon sns__icon--instagram" src="../assets/images/footer/icon_instagram.png"/></a>
          </div>
        </div>
        <div class="info__address address">
          <div class="address__label">本社 |</div>
          <div class="address__value">東京都新宿区市谷船河原町9-1 NBC<br/>アネックス市谷ビル8F</div>
        </div>
        <div class="info__links">
          <a href="#" class="info__link link">
            <span class="link__text">COROPORATE SITE</span>
            <img class="link__icon" src="../assets/images/footer/icon_newtab.png"/>
          <a href="#" class="info__link">
            <span class="link__text">PRIVACY POLICY</span>
            <img class="link__icon" src="../assets/images/footer/icon_newtab.png"/>
          </a>
        </div>
        <div class="info__copyright">
          © ReloadEdge All rights reserved.
        </div>
      </div>
    </div>
  </div>
</footer>
