<header class="header">
  <div class="header__logo-wrapper">
    <img class="header__logo header__logo--pc" src="../assets/images/common/logo_pc.png">
    <img class="header__logo header__logo--sp" src="../assets/images/common/logo_sp.png">
  </div>
  <div class="header__navigation-pc navigation-pc">
    <div class="navigation-pc__nav-list">
      <a href="#" class="navigation-pc__nav">MESSAGE</a>
      <a href="#" class="navigation-pc__nav">COMPANY</a>
      <a href="#" class="navigation-pc__nav">JOB</a>
      <a href="#" class="navigation-pc__nav">MEMBER</a>
      <a href="#" class="navigation-pc__nav">CULTURE</a>
      <a href="#" class="navigation-pc__nav">RECRUIT</a>
    </div>
    <button class="navigation-pc__entry-button">ENTRY</button>
  </div>
  <div class="header__hamburger hamburger" id="nav-btn">
    <div class="hamburger__line"></div> 
    <div class="hamburger__line"></div>
    <div class="hamburger__line"></div>
  </div>
  <div id="navigation" class="header__navigation-sp navigation-sp">
    <div class="navigation-sp__navs">
      <a href="#" class="navigation-sp__nav nav">
        <div class="nav__en">TOP</div>
        <div class="nav__ja">採用トップ</div>
      </a>
      <a href="#" class="navigation-sp__nav nav">
        <div class="nav__en">MESSAGE</div>
        <div class="nav__ja">メッセージ</div>
      </a>
      <a href="#" class="navigation-sp__nav nav">
        <div class="nav__en">COMPANY</div>
        <div class="nav__ja">会社を知る</div>
      </a>
      <a href="#" class="navigation-sp__nav nav">
        <div class="nav__en">JOB</div>
        <div class="nav__ja">職種紹介</div>
      </a>
      <a href="#" class="navigation-sp__nav nav">
        <div class="nav__en">MEMBER</div>
        <div class="nav__ja">社員を知る</div>
      </a>
      <a href="#" class="navigation-sp__nav nav">
        <div class="nav__en">CULTURE</div>
        <div class="nav__ja">働き方を知る</div>
      </a>
      <a href="#" class="navigation-sp__nav nav">
        <div class="nav__en">RECRUIT</div>
        <div class="nav__ja">採用情報</div>
      </a>
    </div>
    <button class="navigation-sp__entry-button">ENTRY →</button>
    <div class="navigation-sp__sns">
        <a href="#" class="sns__link"><img class="sns__icon sns__icon--tiktok" src="../assets/images/footer/icon_tiktok.png"/></a>
        <a href="#" class="sns__link"><img class="sns__icon sns__icon--instagram" src="../assets/images/footer/icon_instagram.png"/></a>
    </div>
    <div class="navigation-sp__address address">
      <div class="address__label">本社 |</div>
      <div class="address__value">東京都新宿区市谷船河原町9-1 NBC<br/>アネックス市谷ビル8F</div>
    </div>
    <div class="navigation-sp__links">
      <a href="#" class="navigation-sp__link link">
        <span class="link__text">COROPORATE SITE</span>
        <img class="link__icon" src="../assets/images/footer/icon_newtab.png"/>
      <a href="#" class="navigation-sp__link">
        <span class="link__text">PRIVACY POLICY</span>
        <img class="link__icon" src="../assets/images/footer/icon_newtab.png"/>
      </a>
    </div>
    <div class="navigation-sp__copyright">
      © ReloadEdge All rights reserved.
    </div>
  </div>
</header>
