<div class="summaryList">
  <div clas="summaryList__item">
    <div class="summaryList__head">初任給</div>
    <div class="summaryList__body">
      交通費全額支給
      皆勤手当
      こども手当
      経験役職手当
      見込み残業手当（42時間分55,000円）
      ※超過分は別途支給
    </div>
  </div>
</div>