<% 
  const ROOT_EJS=`${process.cwd()}/src/ejs`;
%>

<div class="contents__job-description">
  <div class="contents__job-description__inner">
  <p class="contents__job-description__title">新卒採用 初年度待遇</p>
  </div>
  <div class="contents__summary-list contents__summary-list--job">
    <div clas="contents__summary-list__item">
      <div class="contents__summary-list__head">初任給</div>
      <div class="contents__summary-list__body">
        月給：240,000～280,000円<br class="is-pc">
        ※内定期間の取り組みより変動します（大卒）<br class="is-pc">
        月給：220,000ー260,000円（短大・専門卒）
      </div>
    </div>
    <div clas="contents__summary-list__item">
      <div class="contents__summary-list__head">諸手当</div>
      <div class="contents__summary-list__body">
        交通費全額支給<br class="is-pc">
        皆勤手当<br class="is-pc">
        こども手当<br class="is-pc">
        経験役職手当<br class="is-pc">
        見込み残業手当（42時間分55,000円）<br class="is-pc">
        ※超過分は別途支給
      </div>
    </div>
    <div clas="contents__summary-list__item">
      <div class="contents__summary-list__head">昇給</div>
      <div class="contents__summary-list__body">
        年2回　　※半年ごとの査定・評価面談
      </div>
    </div>
    <div clas="contents__summary-list__item">
      <div class="contents__summary-list__head">賞与</div>
      <div class="contents__summary-list__body">
        年2回　　※売上の達成度により金額が変動します
      </div>
    </div>
    <div clas="contents__summary-list__item">
      <div class="contents__summary-list__head">休日休暇</div>
      <div class="contents__summary-list__body">
        月8日休み　/　年末年始（有給消化推奨）<br class="is-pc">
        忌引き　/　産休　/　育休
      </div>
    </div>
    <div clas="contents__summary-list__item">
      <div class="contents__summary-list__head">待遇・福利厚生</div>
      <div class="contents__summary-list__body">
        詳細はこちら
      </div>
    </div>
    <div clas="contents__summary-list__item">
      <div class="contents__summary-list__head">勤務地</div>
      <div class="contents__summary-list__body">
        <p>
          <span>【本社】</span>
          <span>東京都新宿区市谷船河原町9-1　NBCアネックス市谷ビル8F</span>
        </p>
        <p>
          <span>【店舗】</span>
          <span>秋葉原・市ヶ谷・新橋店・浅草橋店・池袋店・田町・恵比寿・渋谷・八丁堀・東陽町・高田馬場・上野・中野・武蔵小杉・南越谷・吉祥寺五反田・上野・ふじみ野　などの各店舗</span>
        </p>
      </div>
    </div>
    <div clas="contents__summary-list__item">
      <div class="contents__summary-list__head">勤務時間</div>
      <div class="contents__summary-list__body">
        シフト制<br class="is-pc">
        -実働時間(1日)：8時間<br class="is-pc">
        -休憩時間(1日)：1時間<br class="is-pc">
        ※勤務地により労働時間変動あり
      </div>
    </div>
  </div>
</div>