<button class="contents__more-button contents__more-button--<%= moreButtonInfo.color %>">
  <a class="contents__more-button-link" href="<%= moreButtonInfo.link %>" target="_blank" rel="noopener noreferrer"><%= moreButtonInfo.text %></a>
</button>